# fly.toml app configuration file generated for real-time-chat-app on 2026-02-17T00:22:37+02:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#
app = 'real-time-chat-app'
primary_region = 'cdg'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  # Required for SignalR WebSockets
  [http_service.concurrency]
    type = "connections"
    hard_limit = 25
    soft_limit = 20

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024